{% set categories = { "Bootstrap":"css","Foundation":"css","Sass":"css", "PostCSS":"css", "ES6":"js", "React":"js", "Vuejs":"js", "Angular":"js", "jQuery":"js", "Lodash":"js", "WordPress":"wordpress", "WooCommerce":"wordpress", "WP-CLI":"wordpress", "Bedrock+Sage":"wordpress", "ReactNative":"devices", "Ionic"
:"devices", "Electron":"devices", "Nodejs":"nodejs", "Meteor":"nodejs", "Express":"nodejs", "Laravel":"php", "Eloquent Doctrine":"php", "MySQL/MariaDB":"db", "Mongo":"db", "ElasticSearch":"db", "Redis Memcached":"db", "Adwords FBAds":"services", "PayPal Stripe":"services", "Cloudfare":"services", "Letsencrypt":"services", "OneSignal MailChimp":"services" } %}
<section id="skills">
    <div class="skills-container">
        {% for type in data.skills %}
        <div class="type {{ type.name|slug }}">
            <h3 class="type-title">{{ type.name }}</h3>
            <div class="items-container">
                {% for item in type.keywords %}
                <div class="item {{ categories[item]}}">
                    {% if type.name|slug ==='devops' %} {% set splitted = item|split(":") %} {{ splitted[0]}} :<span>{{ splitted[1] }}</span>{% elif type.name|slug !=='patterns-and-concepts' %} {{ item }} {% else %} {% for split in item|split("(") %} {% if loop.index ===1 %} {{ split }} {% else %} <span>{{ split|replace(")", "") }}</span> {% endif %} {% endfor %} {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
